.business, .zamena, .tonirovka, .passport, .zagorod__intro, .zagorod, .zagorod__bottom, .cleaning, .otdelka, .article__content {
  margin: 0 5px !important;
}

.mainBody__text {
  margin: 20px 10%;
}

p, li {
  font-size: 12px !important;
}

.item__title {
    height: 12px;
}

.item__title p {
    font-size: 11px;
}

h1, h2 {
    font-size: 15px !important;
}

h1, h2, h3 {
  margin: 0;
}

h3 {
  font-size: 12px;
}

.gallery2 {
  width: auto;
}

.header__elements {
    padding: 0.2em 0;
}

.intro__text {
  margin-top: 35%;
}

.intro__text p {
  line-height: 1.1em;
  font-family: 'PT Sans Caption',sans-serif;
  font-size: 0.8em;
}

.tonirovka__vibor__content ul {
  margin: 0;
}

.heading-text span {
  font-size: 1em;
}

div.address p {
  font-size: .6em;
}

.gallery {
  width: 300px;
  float: left;
}

.zamena__important {
  margin-left: 10px;
}

.zamena__lists p {
  font-size: 1em;
}

.zamena__lists span {
  font-size: 1.8em;
}

.otdelka__button{
  display: block;
  margin: .5em auto;
  overflow: hidden;
}

ol {-webkit-padding-start:  15px;}

.artmenu-wrapper {
  margin: 0;
}

.callback-button {
  display: block;
}

.gallery-outer {
padding: 0;
margin: 0;
}

.slick-prev, .slick-next {
display: none !important;
}

