  .intro__text--animated-state1, .intro__text--animated-state2, .intro__text--animated-state3 {
    font-size: 1.1em;
  }

  .heading-text {
    margin: 10px 5% !important;
  }

  .business, .zamena, .tonirovka, .passport, .zagorod__intro, .zagorod, .zagorod__bottom, .cleaning, .otdelka, .article__content {
    margin: 0 5% !important;
  }


