.demoform {
  margin: 0 10px;
  border-radius: 5px;
}

#overlay {
  @include position(fixed, 0, 0, 0, 0);
  display: none;
  background-color: #000;
  opacity: 0.8;
  filter: alpha (opacity=80);
  z-index: 20;
  cursor: pointer;
}

#modal_form {
  @include position(fixed, 10%, null, null, calc(50% - 160px));
  display: none;

  background: #939393; /* Old browsers */
  background: -moz-linear-gradient(top, #939393 0%, #3d3d3d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #939393 0%,#3d3d3d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #939393 0%,#3d3d3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: 105;

  width: 320px;
  height: 580px;
  border-radius: 5px;
  padding: 20px 0;
  opacity: 0;

  #modal_close {
    @include position(absolute, 10px, 10px, null, null);
    display: block;
    cursor: pointer;
    width: 21px;
    height: 21px;
  }
}

.small span, .calc-header span {
  @include font ($smallFontSize, $main-font, $white);
  text-align: justify;
}

label {
  @include font ($captionSize, $main-font, $white);
  margin-right: 12px;
  margin-bottom: 9px;
}

.tabs {

  ul {
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      display: block;
      clear: both;
      height: 5px;
      background: $lightGrey-color;
    }

    li {
      margin: 0;
      cursor: pointer;
      display: block;
      float: left;
      padding: 10px 15px;
      background: #e9eaeb;
      color: $lightGrey-color;

      &.active, &:hover {
        background: $lightGrey-color;
        color: $white;
      }
    }
  }
}

.demo { overflow:  hidden; }

.ui-widget{font-size: 0.7em !important; }

#amount, #amount2, #amount3, #amount2, #amount4  {
  width: 40px !important;
  border: 0;
  font-weight: bold;
  line-height: 2em;
  margin: 8px 0 8px 20px;
  padding: 2px;
  text-align: center;
  border-radius: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em !important;
  top: -1.2em!important;}

.ui-slider .ui-slider-handle {border:1px solid #8C8C8C;border-radius:50%; background:#CCC;
  cursor: pointer;
  height: 2.9em!important;
  position: absolute!important;
  width: 2.9em!important;
  z-index: 2;
}

.ui-widget-header {
  background-color: #3d3d3d !important;
  border: none !important;
}

@media only screen and (max-width: 480px) {

  #slider-range-max, #slider-range-max2, #slider-range-max3, #slider-range-max4 {
    display: none;
  }
  #amount, #amount2, #amount3, #amount2, #amount4 {
    line-height: 3em;
  }

  .calculator p {
    font-size: 1em;
  }
}

.tabs-nav{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #fff;
  display: inline-block;
}

.tabs{
  position:relative;
}

.tab{
  display:inline-block;
}

.tab:second-child {
  margin-left: 2em;
}

.tab>span{
  cursor:pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: .4em;
  background: #fffff;
  color: white;
}

.tab>span.selected{
  background: white;
  color: white;
}

.tab-content{
  display:none;
  position:absolute;
  left:0;
}

.cleaning__bottom p {
  margin: .5em 0;
}

.calc-header {
  color:#fff;
}

/* jqueryUi Elements styling */

.demo { overflow:  hidden; }

.ui-widget{font-size: 0.7em !important; }


.ui-widget-content {
  background: none;
}

#amount, #amount2, #amount3, #amount2, #amount4  {
  width: 30px !important;
  border: 0;
  font-weight: bold;
  line-height: 2em;
  margin: 0 80%;
  padding: 2px;
  text-align: center;
  border-radius: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em !important;
  top: -1.2em!important;}

.ui-slider .ui-slider-handle {border:1px solid #8C8C8C;border-radius:50%; background:#CCC;
  cursor: pointer;
  height: 2.9em!important;
  position: absolute!important;
  width: 2.9em!important;
  z-index: 2;
}

.ui-widget-header {
  background-color: #3d3d3d !important;
  border: none !important;
}

@media only screen and (max-width: 480px) {

  #slider-range-max, #slider-range-max2, #slider-range-max3, #slider-range-max4 {
    display: none;
  }
  #amount, #amount2, #amount3, #amount2, #amount4 {
    line-height: 3em;
    float: left;
    margin-top: -15px;
  }
}

