#google-container {
  position: relative;
  width: 50%;
  height: 200px;
}


#zoom-in, #zoom-out {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  transition:all 0.25s ease;

  &:hover {
    opacity: 1;
  }
}

#zoom-in {
  background-image: url("../img/plus.png");
}
#zoom-out {
  background-image: url("../img/minus.png");
}

#zoom-in {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  #google-container {
    height: 300px;

  }

  #zoom-in {
    margin-top: 50px;
  }
  #zoom-in, #zoom-out {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #google-container {
    display: none;
  }
}