body {
  background: $main-bg-color;
  @include font($mainFontSize, $main-font, $lightGrey-color);
}

h1 {
  @include font($captionSize, $caption-font, $lightGrey-color);
  font-weight: 500;
}

h2 {
  @include font($h2FontSize, $caption-font, $black);
}

p {
  @include font($mainFontSize, $main-font, $grey-color);
  margin: 0.2em;
  text-align: justify;
  line-height: 1.3em;
}

a {
  color: $link-color;
  font-family: $main-font;
  text-decoration: none;
  cursor: pointer;

  a:hover,
  a:focus {
    outline: none;
    color: $brand-color;
    text-decoration: underline;
  }
}

legend {
  @include font($captionSize, $main-font, $grey-color);
}

h3 {
  @include font($captionSize, $caption-font, $grey-color);
  width: 60%;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  margin-bottom: .5em;
  color: #656565;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

input, textarea {
  @include inputs();
}

.content-wrapper {
  padding-top: 110px;
  background: #fff url('../img/cleaningBG.jpg') no-repeat;
  background-size: cover;
}

%centered {
  margin: 10px 20%;
}

.heading-text {
  @extend %centered;
  overflow: hidden;
  width: 40%;
  text-transform: uppercase;

  &--small {
    font-size: 2em;
  }

  &-image {
    display: block;
    padding-top: 10px;
  }
}

%highlited {
  width: 100%;
  background-color: #faf6ee;
  padding: 10px 0;
}