
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="../js/jquery.customElements.js"></script>
  <link rel="stylesheet" href="../css/main.css" />
	<meta charset="utf-8">
	<style type="text/css">
	
	
	html { overflow:  hidden; }
	
	.ui-widget{font-size: 0.3em !important; }
	#amount,#amount2 {width: 30px !important; }
	
	.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em !important;
    top: -1.2em!important;
}
.ui-slider .ui-slider-handle {border:1px solid #8C8C8C;border-radius:50%; background:#CCC;
    cursor: default;
    height: 2.9em!important;
    position: absolute!important;
    width: 2.9em!important;
    z-index: 2;
}

	</style>

	<script>
	$(function() {
		$( "#slider-range-max" ).slider({
			range: "max",
			min: 0.1,
			max: 15,
			value:0.1,
			step : 0.1,
			slide: function( event, ui ) {
				$( "#amount" ).val( ui.value );
				calc();
			}
		});
		$( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );
	});
	$(function() {
		$( "#slider-range-max2" ).slider({
			range: "max",
			min: 0.1,
			max: 5,
			value:0.1,
			step : 0.1,
			slide: function( event, ui ) {
				$( "#amount2" ).val( ui.value );
				calc();
			}
		});
		$( "#amount2" ).val( $( "#slider-range-max2" ).slider( "value" ) );
	});
	$(function() {
		$( "#slider-range-max3" ).slider({
			range: "max",
			min: 1,
			max: 8,
			value: 1,
			step : 1,
			slide: function( event, ui ) {
				$( "#amount3" ).val( ui.value );
				calc();
			}
		});
		$( "#amount3" ).val( $( "#slider-range-max3" ).slider( "value" ) );
	});
 
	function calc(par){
	type = document.cl_form.type.value;
	amount = document.cl_form.amount.value;
	amount2 = document.cl_form.amount2.value;
	amount3 = document.cl_form.amount3.value;
 
	//var summ;
 
	summ = (15000 + 6000 * ( Number(amount) * Number(amount2)) + 10000 * Number(amount3)) * Number(type);
	square =  ( Number(amount) * Number(amount2) );
	document.cl_form.summ.value=summ;
	document.getElementById("typetd").innerHTML=type;
	document.getElementById("amounttd").innerHTML=amount;
	document.getElementById("amount2td").innerHTML=amount2;
	document.getElementById("amount3td").innerHTML=amount3;
	document.getElementById("summ").innerHTML=summ.toFixed(1);
	document.getElementById("square").innerHTML=square.toFixed(2);
	return false; 
	}
	</script>
<div class="demoform"><center> 
<form name="cl_form">	
<div class="demo">
<fieldset class="calculator">
<legend>Калькулятор</legend>
    <hr><div style="font-family: arial; font-size:12px; color:red;font-weight:bold;"><center>Переместите регулятор<br />или введите данные вручную: <center> </div><hr>
<!-- 	<label for="type">Тип скидки:</label>
	<div class="ceSelect ">
	<select class="ceSelect-selected" name="type" id="type" onchange="calc(this.value);"> </div>
	<option selected="selected" value="1">Без скидки</option>
	<option value="0.90">При заказе утепления и отделки</option>
	<option value="0.92">На второй балкон</option>
	<option value="0.95">Новосёлам на стадии ремонта</option>
	</select> -->
<p>
	<label for="amount">Число створок, шт.</label>
	<input type="text" id="amount3" onchange="calc(this.value);" style="border:0; color:#f6931f; font-weight:bold; width:11px;" />
</p>
<div id="slider-range-max3"></div>
<p>
	<label for="amount">Длина, м:&nbsp;&nbsp;</label>
	<input type="text" id="amount" onchange="calc(this.value);" style="border:0; color:#f6931f; font-weight:bold; width:11px;" />
</p>
<div id="slider-range-max"></div>
<p>
	<label for="amount2">Высота, м:</label>
	<input type="text" id="amount2" onchange="calc(this.value);" style="border:0; color:#f6931f; font-weight:bold; width:11px;" />
</p>
<div id="slider-range-max2"></div>
 <br />
	<!---<label for="summ">Сумма, руб.: </label><td><p style="color:red; font-size:18px;  " id="square">0</p> </td>--->

<center><table>

	<tbody>
	       <tr>
		    <td><p style="color:black; font-size:18px;  "  >Сумма:</p></td>
			<td><p style="color:red; font-size:18px;  " id="summ">0</p> </td>
			<td><p style="color:black; font-size:18px;  "  >руб.</p>  </td>
			
		</tr>
	    
		
	</tbody>
</table><center>
<br /><hr>
<center><table>

	<tbody>

	       <tr>
		     <td><p style="color:black; font-size:12px;  "  >Площадь :</p></td>
			<td><p style="color:red; font-size:12px;  " id="square">0 </p> </td>
			<td><p style="color:black; font-size:12px;  "  >м.кв.</p>  </td>
			
		</tr>
		
	</tbody>
</table>
<center>
<!-- <div class="small">
<center>Точная стоимость заказа <br>рассчитывается при замере<br>					 *для домов ЛенСпецСМУ рассчетная высота <br>составляет 2,8м2
</center>		 
</div> -->
</fieldset>

	
	<input value="0" name="summ" readonly="readonly" maxlength="20" size="7" type="text" id="ss" style="visibility:hidden;">  
 
<div style ="display:none ;"><p>
	<table border="1" cellpadding="3" style="border-collapse: collapse;">
		<tr>
			<td>
			    Скидка:<p id="typetd">0</p> 
			</td>
			<td>
				Число створок, шт.<p id="amount3td">0</p> 
			</td>
			<td>
				Длинна, м: <p id="amounttd">0</p> 
			</td>
			<td>
				Высота, м: <p id="amount2td">0</p> 
			</td>
			<td>
				Итого в руб: <p id="summ">0</p> 
			</td>
		<tr>
	</table>
</p></div>
</div>
</form>
 <center> </div>