
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
  	<meta charset="utf-8">
	<style type="text/css">	

	.tabs-nav{
		font-family: 'PT Sans', sans-serif;
		font-size: 1.2em;
		margin-bottom: 1em;
		color: #fff;
		display: inline-block;
	}
	
	
	.tabs{
	position:relative;   
	}

	.tab{
	display:inline-block;        
	}
	
	.tab:second-child {
		margin-left: 2em;
	}

	.tab>span{
	cursor:pointer;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 1em;
	border: 1px solid #fff;
    border-radius: 3px;
	padding: .4em;
	background: #fffff;
	color: white;
	}

	.tab>span.selected{
	background: white;
	color: black;
	}

	.tab-content{
	display:none;
	position:absolute;
	left:0;
	}
	
	.cleaning__bottom p {
		margin: .5em 0;
	}
	
	.calc-header {
		color:#fff;
	}
	
	<!-- jqueryUi Elements styling -->
	
	demo { overflow:  hidden; }
	
	.ui-widget{font-size: 0.7em !important; }
	
	
	.ui-widget-content {
		background: none;
	}
	
	#amount, #amount2, #amount3, #amount2, #amount4  {
		width: 30px !important;
		border: 0;
		color: #5a5a5a;
		font-weight: bold;
		line-height: 2em;
		margin: 0 80%;
		padding: 2px;
		text-align: center;
		border-radius: 3px;
	}	
	
	.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em !important;
    top: -1.2em!important;}
	
	.ui-slider .ui-slider-handle {border:1px solid #8C8C8C;border-radius:50%; background:#CCC;
    cursor: pointer;
    height: 2.9em!important;
    position: absolute!important;
    width: 2.9em!important;
    z-index: 2;
	}
	
	.ui-widget-header {
	background-color: #3d3d3d !important; 
	border: none !important;
	}
	
@media only screen and (max-width: 480px) {
	
	#slider-range-max, #slider-range-max2, #slider-range-max3, #slider-range-max4 {
		display: none;	
	}	
	#amount, #amount2, #amount3, #amount2, #amount4 {
		    line-height: 3em;
			float: left;
			margin-top: -15px;
	}	
}

	</style>

<script>
	$(function() {
		$( "#slider-range-max" ).slider({
			range: "max",
			min: 0,
			max: 100,
			value: 0,
			step : 1,
			slide: function( event, ui ) {
				$( "#amount" ).val( ui.value );
				calc();
			}
		});
		$( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );
	});
	$(function() {
		$( "#slider-range-max2" ).slider({
			range: "max",
			min: 0,
			max: 100,
			value: 0,
			step : 1,
			slide: function( event, ui ) {
				$( "#amount2" ).val( ui.value );
				calc();
			}
		});
		$( "#amount2" ).val( $( "#slider-range-max2" ).slider( "value" ) );
	}); 
	$(function() {
		$( "#slider-range-max3" ).slider({
			range: "max",
			min: 0,
			max: 50,
			value: 0,
			step : 0.1,
			slide: function( event, ui ) {
				$( "#amount3" ).val( ui.value );
				calc();
			}
		});
		$( "#amount3" ).val( $( "#slider-range-max3" ).slider( "value" ) );
	});  
	$(function() {
		$( "#slider-range-max4" ).slider({
			range: "max",
			min: 0,
			max: 50,
			value: 0,
			step : 0.1,
			slide: function( event, ui ) {
				$( "#amount4" ).val( ui.value );
				calc();
			}
		});
		$( "#amount4" ).val( $( "#slider-range-max4" ).slider( "value" ) );
	});  
	
// Дополнить:
// инструкция для самостоятельного расчета
// Наличие скидочной карты (галочка) и скриншот, если есть - скидку какую
 
 
	function calc(par){
	type = document.cl_form.type.value;
	amount = document.cl_form.amount.value;
	amount2 = document.cl_form.amount2.value;
	amount3 = document.cl_form.amount3.value;
	amount4 = document.cl_form.amount4.value;
	
	//var summ;
 
	square =  ( Number(amount) * Number(amount2));
	square2 =  ( Number(amount3) * Number(amount4));
	summ = square * Number(type);
	summ2 = square2 * 350;
//	document.cl_form.summ.value=summ;
	document.getElementById("summ").innerHTML=summ.toFixed(2);
	document.getElementById("square").innerHTML=square.toFixed(2);
	document.getElementById("summ2").innerHTML=summ2.toFixed(2);
	document.getElementById("square2").innerHTML=square2.toFixed(2);
	return false; 
	}
	
$(document).ready(function(){
    $('.tab-content:first').show(0);
    $('.tab:first>span').addClass('selected');
    $('.tab>span').click(function(){
       $('.tab>span').removeClass('selected');
       $(this).addClass('selected'); 
       $('.tab-content').hide(0);   
       $(this).next('.tab-content').show(0);     
    });
});
	
</script>


<div class="demoform"><center> 
	<form name="cl_form">	
		<div class="demo">
			<center><span class="tabs-nav">Выберите услугу</span></center>
			<div class="tabs">
				<div class="tab">
					<span>Коммерческие объекты</span>
					<div class="tab-content">
						<div class="calc1">
							<fieldset class="calculator">
								<legend>Калькулятор</legend>
									<hr>
									<div class="calc-header">
									<center><span>Переместите регулятор<br />или введите данные вручную:</span> <center> </div><hr>
									<label for="type">Тип фасада:</label>
									<div class="ceSelect">
										<select class="ceSelect-selected" name="type" id="type" onchange="calc(this.value);"> 
											<option selected="selected" value="40">Стекло</option>
											<option value="28">Керамогранит</option>
											<option value="28">Штукатурка</option>
										</select>
									</div>
								<p>
									<label for="amount">Высота стекол, м:&nbsp;&nbsp;</label>
									<input type="text" id="amount" onchange="calc(this.value);"/>
								</p>
								<div id="slider-range-max"></div>
								<p>
									<label for="amount2">Ширина стекол, м:</label>
									<input type="text" id="amount2" onchange="calc(this.value);"/>
								</p>
								<div id="slider-range-max2"></div>
								<center>
									<table>
										<tbody>
											   <tr>
												<td><p style="color: #c9a564; font-size:18px;  "  >Сумма:</p></td>
												<td><p style="color: #fff; font-size:20px;  " id="summ">0</p> </td>
												<td><p style="color: #c9a564; font-size:18px;  "  >руб.</p>  </td>
												</tr>		
										</tbody>
									</table>
								</center>
								<hr>
								<center>
									<table>
										<tbody>

											   <tr>
												 <td><p style="color: #c9a564; font-size:12px;  "  >Площадь :</p></td>
												<td><p style="color: #fff; font-size:12px;  " id="square">0 </p> </td>
												<td><p style="color: #c9a564; font-size:12px;  "  >м.кв.</p>  </td>	
											   </tr>											
										</tbody>
									</table>
									<div class="small">
									<span>Данные расчета калькулятора</span><span> носят исключительно ознакомительный характер.<br>Свяжитесь с менеджером</span>
									</div>
								</center>
							</fieldset>								
						</div><!-- calc1 -->
					</div><!-- tab-content -->
				</div><!-- tab -->
				<div class="tab">
					<span>Окна, балконы</span>
					<div class="tab-content">
						<div id="calc2">
							<fieldset class="calculator">
								<legend>Калькулятор</legend>
								<hr>
								<div class="calc-header"><center><span>Переместите регулятор<br/>или введите данные вручную:</span><center></div>
								<hr>
								<p>
									<label for="amount3">Высота стекол, м:&nbsp;&nbsp;</label>
									<input type="text" id="amount3" onchange="calc(this.value);"/>
								</p>
								<div id="slider-range-max3"></div>
								<p>
									<label for="amount4">Ширина стекол, м:</label>
									<input type="text" id="amount4" onchange="calc(this.value);"/>
								</p>
								<div id="slider-range-max4"></div>
								<center>
								<table>
									<tbody>
										   <tr>
											<td><p style="color: #c9a564; font-size:18px;  "  >Сумма:</p></td>
											<td><p style="color: #fff; font-size:20px;" id="summ2">0</p> </td>
											<td><p style="color: #c9a564; font-size:18px;  "  >руб.</p>  </td>
											</tr>		
									</tbody>
								</table>				
								<hr>
								</center>
								<table>
									<tbody>
										   <tr>
											 <td><p style="color: #c9a564; font-size:12px;  "  >Площадь :</p></td>
											<td><p style="color: #fff; font-size:12px;" id="square2">0 </p> </td>
											<td><p style="color: #c9a564; font-size:12px;  "  >м.кв.</p>  </td>
											
										</tr>										
									</tbody>
								</table>
								<center>
								<div class="small">
								<span>Замер производится по световому проему окон.</span><span> Суммированные даные ширины и<br>высоты вбиваются в калькулятор</span>
								</div><!-- small -->
								</center>
							</fieldset>					
						</div><!-- calc2 -->
					</div><!-- tab-content -->
				</div><!-- tab -->				
			</div><!-- tabs -->
		</div><!-- demo -->
	</form>
 </div><!-- demoform -->