<footer>
    <div class="artmenu-wrapper">
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Архитектурные решения для бизнеса</li>
                <li><a class='artmenu__link' href="#">Виды панорамного остекления</a></li>
                <li><a class='artmenu__link' href="#">Панорамное алюминиевое и металлопластиковое остекление</a></li>
                <li><a class='artmenu__link' href="#">Утепление панорамного остекления</a></li>
                <li><a class='artmenu__link' href="#">Проектирование светопрозрачных алюминиевых конструкций</a></li>
            </ul>
        </div>
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Клининг фасадов</li>
                <li><a class='artmenu__link' href="articles/systems.html">Системы для высотной мойки фасадов</a></li>
                <li><a class='artmenu__link' href="articles/promalp.html">Высотная мойка фасадов методом промышленного альпинизма</a></li>
                <li><a class='artmenu__link' href="articles/vishka.html">Клининг фасадов зданий с применением передвижной автотехники</a></li>
                <li><a class='artmenu__link' href="articles/pomokonkvart.html">Цена помывки окон в квартире</a></li>
                <li><a class='artmenu__link' href="articles/deshmoikaokonspb.html">Мойка окон СПб дешево</a></li>
                <li><a class='artmenu__link' href="articles/stoimpomivkiokon.html">Стоимость помывки окон</a></li>
                <li><a class='artmenu__link' href="'articles/pomokonalpinistami.html">Помывка окон альпинистами</a></li>
                <li><a class='artmenu__link' href="articles/cleaningcompany.html">Мытье окон клининговой компанией</a></li>
                <li><a class='artmenu__link' href="'articles/cenamoikafasadov.html">Цена мойки фасадов зданий</a></li>
                <li><a class='artmenu__link' href="'articles/moikazdanii.html">Мойка зданий и сооружений</a></li>
            </ul>
        </div>
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Замена холодного остекления на теплое</li>
                <li><a class='artmenu__link' href="articles/proect.html">Проект по замене холодного остекления на теплое</a></li>
                <li><a class='artmenu__link' href="articles/steklopaket.html">Виды и классификация стеклопактетов</a></li>
                <li><a class='artmenu__link' href="#">Статья про системы остекления</a></li>
                <li><a class='artmenu__link' href="articles/zamenafasadost.html">Замена фасадного остекления</a></li>
                <li><a class='artmenu__link' href="articles/remizamenasp.html">Ремонт и замена стеклопакетов в СПб</a></li>
                <li><a class='artmenu__link' href="articles/preimushZameni.html">Замена холодного остекления без изменения фасада</a></li>

            </ul>
        </div>
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Тонирование окон и фасадов архитектуными пленками</li>
                    <li><a class='artmenu__link' href="articles/tonirVPomesh.html">Цена пленки для тонировки окон в квартире</a></li>
                    <li><a class='artmenu__link' href="articles/suntinting.html">Пленка от солнца на окна в квартире</a></li>				<li><a href="javascript:goPage('articles/tonirplenkoi.html')">Цена тонирования окон и балконов пленкой</a></li>				<li><a href="javascript:goPage('articles/suntinting.html')">Пленка от солнца на окна в квартире</a></li>
                    <li><a class='artmenu__link' href="articles/tonirokon.html">Тонировкa стекол на балконе</a></li>
                    <li><a class='artmenu__link' href="articles/plenkifordoma.html">Тонировочная пленка для окон дома</a></li>
                    <li><a class='artmenu__link' href="articles/tonirdoma.html">Пленка для тонирования окон в доме</a></li>
                    <li><a class='artmenu__link' href="articles/belmatplenka.html">Белая матовая пленка для стекла</a></li>
                    <li><a class='artmenu__link' href="articles/suntitningokon.html">Cолнцезащитные пленки для оконных стекол</a></li>
                    <li><a class='artmenu__link' href="articles/moikabannerov.html">Мойка баннера</a></li>
                    <li><a class='artmenu__link' href="articles/cenapomfasada.html">Цена помывки фасада</a></li>
                    <li><a class='artmenu__link' href="articles/cleaningcompanies.html">Клининговые компании СПб</a></li>
            </ul>
        </div>
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Утепление балконов и лоджий</li>
                <li><a class='artmenu__link' href="articles/kakUteplit.html">Как утеплить балкон своими руками</a></li>
                <li><a class='artmenu__link' href="articles/kuhnia.html">Комната для отдыха на балконе, лоджии</a></li>
                <li><a class='artmenu__link' href="articles/lounge.html">Объединение кухни с балконом, лоджией</a></li>
                <li><a class='artmenu__link' href="articles/rabCabinet.html">Рабочий кабинет на балконе</a></li>
                <li><a class='artmenu__link' href="articles/panoramutepl.html">Утепление панорамного остекления балконов</a></li>
                <li><a class='artmenu__link' href="articles/effectUteplBalk.html">Утепление балкона с холодным остеклением</a></li>

            </ul>
        </div>
        <div class="item__artmenu">
            <ul>
                <li class="artmenu__heading">Архитектурные решения для загородной жизни</li>
                    <li><a class='artmenu__link' href="#">Статья про остекление террасы загородного дома</a></li>
                    <li><a class='artmenu__link' href="articles/zenit.html">Зенитные фонари</a></li>
                    <li><a class='artmenu__link' href="#">Статья про элитное фасадное остекление частных домов</a></li>
            </ul>
        </div>
    </div><!-- artmenu-wrapper -->

    <section id="google-map">
        <div id="google-container"></div>
            <div id="zoom-in"></div>
            <div id="zoom-out"></div>
        <div class="contacts">
              <div class="social">
                  <ul>
                      <li><p id="contakty">Контакты</p>
                      <li><a href="https://vk.com/prestige_facade" rel="nofollow" target="_blank"><img src="img/vk.png" alt="vk"></a></li>
                      <li><a href="http://instagram.com/prestigefacade" rel="nofollow" target="_blank"><img src="img/insta.png" alt="instagram"></a></li>
                  </ul>
              </div>
            <div class="clear"></div>
            <div class="address">
                <p class="sprite sprite-home">Россия, Санкт-Петербург, Загородный проспект д. 28</p>
                <p class="sprite sprite-phone"><span>+7-905-226-92-93</span></p>
                <p class="sprite sprite-mail"><a href="mailto:prestigefacade@gmail.com">prestigefacade@gmail.com</a></p>
            </div>
            <div class="clear"></div>
            <div id="fields">
             <form id="cForm2" method="post" action="#">
                   <ul>
                        <li><input id="posName" type="text" name="name" value="Ваше имя" onfocus="if (this.value == 'Ваше имя') {this.value = ''; this.style.color = '#ffffff';}" onblur="if (this.value == '') {this.value = 'Ваше имя'; this.style.color = '#ffffff';}"/>
                        <input id="posEmail" type="e-mail" name="email" value="e-mail" onfocus="if (this.value == 'e-mail') {this.value = ''; this.style.color = '#ffffff';}" onblur="if (this.value == '') {this.value = 'e-mail'; this.style.color = '#ffffff';}" /></li>
                        <li><textarea id="posText" name="message" style="max-height: 100px" value="Ваше сообщение" onfocus="if (this.value == 'Ваше сообщение') {this.value = ''; this.style.color = '#ffffff';}" onblur="if (this.value == '') {this.value = 'Ваше сообщение'; this.style.color = '#ffffff';}" >Ваше сообщение</textarea> </li>
                        <li><div align="center" id='loadBar'></div> </li>
                        <li><input id="send" type="button" value="ОТПРАВИТЬ" > </li>
                   </ul>
             </form>
            </div> 	<!-- fields -->
        </div><!-- contacts -->
    </section><!-- google-map -->
    <div class="clear"></div>
    <div class="callback-button"><a href="tel:=7-905-226-92-93"><p>БЫСТРЫЙ ЗВОНОК</p></a></div>
    <div class="clear"></div>
    <div class="image-map"></div>
    <div class="clear"></div>
    <div class="allrights">
        <ul>
            <li><a href="index.html">На главную</a></li>
            <li><p>Все права защищены. &copy; PrestigeFacade 2016</p></li>
        </ul>
    </div>
</footer>
