<header class="header">
	<div class="header__content">
		<div class="header__background">
		<section class="items-wrap">
			<a href="business.html" class="item" alt="item01">
				<div class="item__title"><p>Остекление фасадов ТРК, БЦ, ЖК</p></div>
			</a>
			<a href="zagorod.html" class="item">
				<div class="item__title"><p>Зимние сады. Зенитные фонари</p></div>
			</a>
			<a href="zamena.html" class="item">
				<div class="item__title"><p>Замена холодного остекления на теплое</p></div>
			</a>
			<a href="cleaning.html" class="item">
				<div class="item__title"><p>Клининг фасадов</p></div>
			</a>
			<a href="tonirovka.html" class="item">
				<div class="item__title"><p>Тонировка архитектурными пленками</p></div>
			</a>
			<a href="otdelka.html" class="item">
				<div class="item__title"><p>Комплексное утепление балконов</p></div>
			</a>
		</section><!-- menu-items -->
		</div><!-- header__background -->
		<div class="header__elements">
			<div class="menu_button">
				<span style="color: #ffffff;">ВЫБОР УСЛУГ</span>
				<button class="trigger">
					<svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
						<g class="icon icon--grid">
							<rect x="32.5" y="5.5" width="22" height="22"/>
							<rect x="4.5" y="5.5" width="22" height="22"/>
							<rect x="32.5" y="33.5" width="22" height="22"/>
							<rect x="4.5" y="33.5" width="22" height="22"/>
						</g>
						<g class="icon icon--cross">
							<line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
							<line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
						</g>
					</svg>
				</button>						
			</div>
			<div class="logo">
				<a href="index.html"><img src="img/logo.png" title="На главную" alt="Престиж фасад"/></a>
			</div>
			<div class="tel">
			<a class="tel" href="tel:=7-812-416-3252"><img src="img/phone.png" height="20px">
			<span>+7-812-416-32-52</span>
			</a>
			</div>
			<div class="menu2"><span>ВЫБОР УСЛУГ</span></div>
		</div><!-- header__elements -->
	</div><!-- /intro__content -->
</header><!-- /intro -->