/* custom-style */.demoform {	width: 320px;}/* vendor style */
.ce-checkbox,
.ce-radio {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: top;
}

/* line 9, ../sass/custom-elements.scss */
.ce-checkbox input,
.ce-radio input {
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

/*  checkbox and radio  */
/* line 22, ../sass/custom-elements.scss */
.ce-checkbox,
.ce-radio {
  background: url('../images/checkbox.png?1368691321') no-repeat 0 bottom;
}
/* line 25, ../sass/custom-elements.scss */
.ce-checkbox.ce-checked,
.ce-radio.ce-checked {
  background-position: 0 0;
}
/* line 31, ../sass/custom-elements.scss */
.ce-checkbox.disabled,
.ce-radio.disabled {
  background-position: right bottom;
}
/* line 33, ../sass/custom-elements.scss */
.ce-checkbox.disabled input,
.ce-radio.disabled input {
  cursor: default;
}
/* line 37, ../sass/custom-elements.scss */
.ce-checkbox.disabled.ce-checked,
.ce-radio.disabled.ce-checked {
  background-position: right 0;
}

/* line 41, ../sass/custom-elements.scss */
.ce-radio {
  background: url('../images/radio.png?1368691689') no-repeat 0 bottom;
}

/*  #checkbox and radio  */
/*  input[type=file]  */
/* line 46, ../sass/custom-elements.scss */
.ce-upload {
  display: inline-block;
}
/* line 48, ../sass/custom-elements.scss */
.ce-upload span {
  float: left;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #c6c6c6;
}
/* line 56, ../sass/custom-elements.scss */
.ce-upload .upl-filebutton {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f8f8f8, #ececec);
  background: -moz-linear-gradient(#f8f8f8, #ececec);
  background: -o-linear-gradient(#f8f8f8, #ececec);
  background: linear-gradient(#f8f8f8, #ececec);
  position: relative;
  cursor: pointer;
}
/* line 62, ../sass/custom-elements.scss */
.ce-upload .upl-filebutton input[type="file"] {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  opacity: 0;
	filter: alpha(opacity=0);
}
/* line 73, ../sass/custom-elements.scss */
.ce-upload .upl-filebutton.hover, .ce-upload .upl-filebutton:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#ffffff, #ececec);
  background: -moz-linear-gradient(#ffffff, #ececec);
  background: -o-linear-gradient(#ffffff, #ececec);
  background: linear-gradient(#ffffff, #ececec);
}
/* line 77, ../sass/custom-elements.scss */
.ce-upload .upl-filebutton.active, .ce-upload .upl-filebutton:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 81, ../sass/custom-elements.scss */
.ce-upload .upl-filename {
  min-width: 150px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: none;
}
/* line 88, ../sass/custom-elements.scss */
.ce-upload.disabled .upl-filebutton,
.ce-upload.disabled .upl-filename {
  background: #eee;
  color: #717171;
}

/*  #input[type=file]  */
/*  Select  */
/* line 96, ../sass/custom-elements.scss */
.ceCustom {
  position: absolute;
  opacity: 0;
  left: -10000px;
}

/* line 102, ../sass/custom-elements.scss */
.ceSelect {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-family: arial;
}
/* line 107, ../sass/custom-elements.scss */
.ceSelect .ceSelect-selected {
  padding: 5px 20px 5px 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: url('select-arr.png') no-repeat right center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 113, ../sass/custom-elements.scss */
.ceSelect .ceSelect-selected:hover {
  background-color: #f5f5f5;
}
/* line 117, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options {
  border: 1px solid #ccc;
  background: #FFF;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  z-index: 50;
}
/* line 125, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options span {
  padding: 0 5px;
  display: block;
}
/* line 129, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-group {
  padding: 0;
}
/* line 131, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-group .ceSelect-group-label {
  background: #f5f5f5;
}
/* line 134, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-group .ceSelect-item {
  padding-left: 10px;
}
/* line 138, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-item {
  cursor: pointer;
}
/* line 140, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-item.selected {
  border: 1px solid #333;
  border-width: 1px 0 1px 0;
  background: #f5f5f5;
}
/* line 145, ../sass/custom-elements.scss */
.ceSelect .ceSelect-options .ceSelect-item:hover {
  background: #f5f5f5;
}
/* line 150, ../sass/custom-elements.scss */
.ceSelect.closed .ceSelect-options {
  display: none;
}
/* line 153, ../sass/custom-elements.scss */
.ceSelect.open .ceSelect-options {
  display: block;
}
/* line 156, ../sass/custom-elements.scss */
.ceSelect.multi .ceSelect-options {
  position: relative;
  top: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 163, ../sass/custom-elements.scss */
.ceSelect.disabled .ceSelect-selected,
.ceSelect.disabled .ceSelect-options {
  background-color: #f5f5f5;
  color: #ccc;
  cursor: default;
}
/* line 167, ../sass/custom-elements.scss */
.ceSelect.disabled .ceSelect-selected *,
.ceSelect.disabled .ceSelect-options * {
  cursor: default;
}

/*  #Select  */
