.clear{
	clear:both;
}

body {
	background: #3d3d3d;
}

h1 {
	font-size: 1.2em;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 500;
	color: #6f6f6f;
}
.mainH1 {
	color: #E4E1E1;	
}


h2 {
	color: #000000;
	font-size: 1.5em;
	font-family: 'PT Sans Caption', sans-serif;
}

p {
	color: #656565;	
	margin: 0.2em;
	font-size: 15px;
	text-align: justify;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.3em;
}

legend {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.2em;
}

h3 {
	font-size: 1.2em;
	width: 60%;
	text-transform: uppercase;
	font-family: 'PT Sans Caption', sans-serif;
}

a {
	color: #36b6dd;
	text-decoration: underline;	
}

a:hover,
a:focus {
	outline: none;
	color: #d2ac67;
}


.item__title:hover,
.item__title:focus {
	outline: none;
	color: #d2ac67 !important;
}

li {
	list-style-type: none;
	margin-bottom: .5em;
	color: #656565;
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
}

/*  H E A D E R */

.header {
	position: fixed;
	z-index: 100;
	overflow: hidden;
	width: 100%;
	height: 350px;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .header {
	-webkit-transform: translate3d(0, -250px, 0);
	transform: translate3d(0, -250px, 0);	
}

.header__content {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.header__background {
	display: block;
	height: 300px;
	background-color: #3d3d3d;
	/* background: #3d3d3d url('../img/bgmenu.jpg') center no-repeat;	 */
}

/*------------------------- items-wrap menu --------------------------*/

.items-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30%;
	justify-content: center;
}

.item {
	position: relative;
	height: 8vw;
	flex: 0 1 320px;
}

.header__elements {
	display: flex;
	align-items: center;
	justify-content: space-around;	
	width: 100%;
	background-color: rgba(61,61,61,.4);
	padding-top: 45px;
	background:#3d3d3d;
/* 	opacity: 0.8; */	
	flex-wrap: wrap;
}

.menu_button {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}


.trigger {
	position: relative;
	overflow: hidden;
	margin: 0 5px;
	padding: 0;
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	margin-right: 2em;
}

.trigger span {
	position: absolute;
	display: block;
	top: 10%;
	right: 100%;
	padding-right: 5px;
	
}

.icon rect,
.icon line {
	stroke: #ffffff;
	fill: none;
	stroke-width: 2px;
}

.icon--grid .trigger--active  {
 opacity: 1	
}

.icon--cross {
 opacity: 0	
}

.tel {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;	
	font-size: 24px;
	margin-left: 10px;
}

.tel a {
    color: white;
    text-decoration: none !important;
}

.tel img {
	text-decoration: none;
}

.tel span {
	margin-left: 10px;
}
.menu2 {
	display: none;	
}

.menu2 span{	
	color: rgb(255, 255, 255);
	font-family: "PT Sans Caption",sans-serif;
	font-size: 0.7em;
}

/*-------------------------  I N D E X   C O N T E N T -------------------------*/

/* -----------------------intro section -------------------------*/

.intro {
	background: #252424 url('../img/fake_brick.png') repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex-wrap:wrap;
}

.intro__banners {
	display:flex;
    flex-direction: row;
	justify-content: space-around;	
	margin-bottom: 5%;
	flex-wrap: wrap;
}

.left-banner1, .right-banner1, .left-banner2, .right-banner2 {
	min-width: 320px;
}

.intro__banners figure {
	position: relative;
	margin: 0;
	min-width: 320px;
}


.intro__banners figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #bd9116;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: opacity 1s;	
	display: flex;
	justify-content: center;
}

.intro__banners figcaption a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;	
	padding: 5px;	
	font-weight: 500;
	/* border: 2px solid white;
	padding: 10px 30px;
	font-size: 1.1em; */
	color: #fff; 
}

.figcaption-header {
	font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.3em;	
	color: #fff;
	text-align: center;
	margin-bottom: 0.5em;
}

.figcaption-text {
	font-family: 'PT Sans Caption', sans-serif;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 1em;
}

.figcaption-info {
	font-family: 'PT Sans Caption', sans-serif;
	color: #fff;
	font-size: .7em;
	text-align: center;
}




.intro__banners figure:hover img {
	opacity: 0.5;	
}

.intro__banners figure:hover figcaption {
	opacity: 0.8 !important;
	color: #fff;
	cursor: pointer;
}

.intro__banners figure:hover a {
	color: #fff;
	opacity: 1 !important;
}

.intro_text {
	margin-top: 15%;	
}

.intro_text p {
	line-height: 1.3em;
	font-family: 'PT Sans Caption', sans-serif;
	color: white;
	font-size: 1.3em;
	text-align: center;	
/* 	visibility: hidden; */
}

#animated1  {
	animation-delay: 1s;
	animation-duration: 1.5s;
}
#animated2  {
	animation-delay: 3s;
	animation-duration: 1.5s;
}
#animated3  {
	animation-delay: 5s;
	animation-duration: 1.5s;
}


/* 
 .intro_text p:nth-child(1) {
	animation-delay: 1s;
	animation-name: opacity-change; 
	animation-duration: 3s;
	visibility: visible !important;
} 


.intro_text p:nth-child(2) {
	animation-delay: 3s;
	animation-name: opacity-change; 
	animation-duration: 3s;
	visibility: visible !important;
} 


 .intro_text p:nth-child(3) {
	animation-delay: 5s;
	animation-name: opacity-change; 
	animation-duration: 3s;
	visibility: visible !important;
}   

@keyframes opacity-change {
 0% {opacity: 0; visibility: hidden;}
 25% {opacity: 0.1}
 50% {opacity:0.5}
 75% {opacity:0.7}
 100% {opacity:1}
}
 
 .intro__arrow {
	position: absolute;
	bottom: 2em;
	left: 50%;
	margin-right: 58px;
}

.intro__arrow img {
	display: block;
	cursor: pointer;
} */


.demoform {
	margin: 0 10px;
	border-radius: 5px;	
}

#modal_form {
	display: none;
	background: #939393; /* Old browsers */
	background: -moz-linear-gradient(top, #939393 0%, #3d3d3d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #939393 0%,#3d3d3d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #939393 0%,#3d3d3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	z-index: 105;
	position: fixed;
	top: 10%;
	left: calc(50% - 160px);
	width: 320px;
	height: 580px;
	border-radius: 5px;	
	padding: 20px 0;
	opacity: 0;
}

#modal_form #modal_close {
	cursor: pointer;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;	
}

#overlay {
	display: none;		
	background-color: #000;
	opacity: 0.8;
	filter: alpha (opacity=80);
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

/* .calc-button {
	text-align: center;
	margin: 2em 0;
}

.calc-button a {
	cursor: pointer;
} */

.tonirovka .block, .zamena .block, .cleaning .block {
	margin: 5% auto;
}


a#go {
	font-family: 'PT Sans', sans-serif;
}

#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background-color: #000;
	padding: 5px 10px 5px 10px;
	color: white;
	opacity: 0.6;
}

.small span, .calc-header span {
	font-size: 12px;
	color: #fff;
	text-align: justify;
	font-family: 'PT Sans', sans-serif;
}


#akcia-zamena, #akcia-moika, #akcia-tonirovka {
	margin-top: 100px;
}

.header-wide:first-child {
	margin-top: 0;
}


.akcii__content p {
	text-align: center;
	font-size: 2em;
	color: red;
}

.header-wide {
    width: 100%;
    background-color: #faf6ee;
    padding: 10px 0;
}

.header-wide span {
	font-size: 1.8em;
	font-family: 'PT Sans', sans-serif;
	color: #d2ac67;
	padding: 10px 20%;
	display: block;	
}

/*----------------- body_content------------------- */

.body_content{
	padding: 1em;
	margin: 0.2em;
	margin: 0 auto;
	background-image: url("../img/logoFon.png");
	background-repeat: repeat;
/* 	background: linear-gradient(to bottom,rgb(7, 7, 7) 0,rgba(61,61,61,.20) 100%); */
	
}

.body_content p, .intro_text p {
	text-transform: none;
	padding: 10px 20% 30px;
	color: white;
	
}

/*--------------------------------  P A G E S   C O N T E N T --------------------------*/

.content-wrapper {
	padding-top: 110px;
}


/* .facade, .zamena, .zagorod, .tonirovka {
	background-color: white;
} */

.article {
	background-color: white;	
}

.cleaning, .zamena, .zagorod, .tonirovka, .bcg, .facade {
	background: #fff url('../img/cleaningBG.jpg') no-repeat;
	background-size: cover;
}

.business__text, .cleaning__text, .tonirovka__text  {
	padding: 0 20%;
	columns: 2;              
	column-gap: 2em;
    column-rule: 1em solid black;
	-moz-column-rule: 1em solid transparent;
	column-rule: 1em solid transparent;
}

.first-column {
	break-after: column;
	-moz-break-after: column;
	-webkit-column-break-after: column;
    page-break-after: column;
}


.tonirovka__text {
	padding: 20px 20%;
}	

.zagorod__text, .article__text {
	columns: 2;              
	column-gap: 2em; 
	/* background-color: white; 
	column-rule: 1em solid white;
	-moz-column-rule: 1em solid white;
	column-rule: 1em solid white;*/
}	
	
.zagolovok, .uslugi ul, .zamena__content, .zagorod__intro, .otdelka__content, .zagorod__otdel p, .business-bottom  p, .zagorod__bottom p, .article__content, .cleaning__intro, .cleaning__bottom, .tonirovka__intro, .tonirovka__vibor__content, .akcii__content {
	padding: 10px 20%;
}

 .zagolovok{
	overflow: hidden;
	width: 40%;
	text-transform: uppercase;
	padding-top: 3em;
}

 .zagolovok span {
	font-size: 2em;
 }

.zagolovok  img {
	display: block;
	padding-top: 10px;
}
 
/* .zagolovok::before {
	content:'';
	background: #fff url('../img/line.png') -10px 0 no-repeat;
} */


.cleaning__content ul, .business__content ul, .zagorod__content ul, .article__text ul , .zamena__lists ul {
	list-style-image: url('../img/check.png');
}

.cleaning__bottom ul {
	list-style-image: none;
}

.business__content ul {
	margin-left: 2em;
}

.zagorod__text img, .business__text img,.article__text img  {
	margin-top: 6%;
}

.business-bottom, .zagorod__otdel {
	width: 100%;
	background-color: #faf6ee;
	padding: 10px 0;
}

/* .zamena__text {
	display: flex;
} */

.zamena__intro, .zagorod__intro,.otdelka__intro {
	margin-bottom: 2em;
}

.zamena__intro img, .zagorod__intro img {
	display: block;
	float: right;
	margin-left: 8%;
}

.zagorod__intro img {
	margin-bottom: 5%;
}


.smotret {
	display: inline-block;
	border-radius: 5px;
	padding: 0.8em 2em;
	background-color: #d2ac67;
	margin: 5% 0;
	cursor: pointer;
	width: 180px;
	text-align: center;
}

.zamena__important {
	margin-left: 180px;
}

.zamena__important  a, .otdelka__intro ul a, .otdelka__vibor ul a, .block a {
	color: white;
	text-decoration: none;
}

.zamena__lists span {
	font-size: 2.2em;
}

.zamena__lists p {
	font-size: 1.2em;
	color: #909090;
	font-family: 'PT Sans', sans-serif;
}

.zamena__bottom p, .otdelka__bottom p {
	text-align: center;
}

.zamena__bottom li {
	text-align: justify;
}

 .block {
	display:block;
	border-radius: 5px;
	padding: .8em 2em;
	background-color: #d2ac67;
	margin: 5% 0;
	cursor: pointer;
	text-transform: uppercase;
	width: 180px;
	text-align: center;
}

.otdelka__intro ul li, .otdelka__vibor ul li {
	display: inline-block;
	padding-left: 2em;	
}

.otdelka__intro ul {
	list-style: none !important;
	margin-left:0;
	font-size : 0;
}

/* .otdelka_wrapper {
	display: flex;
} */

 .otdelka__banner {
	width: 300px;
	float: left;
	margin-right: 1em;
}

.otdelka__text h3 {
	width: 100%;
}

.gallery2 {
	width: 180px;
	float: left;
	margin-right: 1em;
}


.gallery-outer {
		background-color: #3d3d3d;
		position: relative;
		padding: 0 30px;
		margin: 5% 0;
}	


.cleaning__intro {
	width: 50%;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1.1em;
}

.cleaning__intro p {
		text-align: left;
}

.cleaning__sposob {
	background-color: silver;
	text-transform: uppercase;
	margin: 20px 0;
	padding: 10px 5px;
}

.cleaning__sposob ul {
	text-transform: none;
}

.cleaning__bottom {
	overflow: hidden;
}

.cleaning__bottom p{
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: lest;
	font-family: 'PT Sans Narrow', sans-serif;
}

.cleaning__bottom ul span {
	color: #d2ac67;
}

.tonirovka__intro  img {
	float: right;
}

.tonirovka__intro p{
	text-align:left;
}

.tonirovka__vibor {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
}

.tonirovka__vibor ul li {
	text-transform: uppercase;
	display: inline;
	padding: 20px 5% 20px 0;
	font-weight: 700;
}


/*------------------------------------ F O O T E R -------------------------------------*/

/* ----------------------articles menu----------------------------------*/

.artmenu-wrapper {
	/* margin: 0 10%; */
	background-image: url('../img/introBG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artmenu {
	/* background-color: #3d3d3d; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}

.no-flexbox  .artmenu {
    display: block;
    width: 100%;
}

.heading {
	display: block;
	font-size: 1em;
	color: #FFFFFF;
    margin: 0 0 1em;	
}

.item__artmenu {
	position: relative; 
 	flex: 1 0 300px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.item__title {
	position: absolute;
	width: 90%;
	height: 40px;
	margin: 0 20px;
    background-color: rgba(210, 172, 103, 0.78);
    padding: 5px 0;
    cursor: pointer;
	border-radius: 5px;
}

.item__title p {
	color: #ffffff;
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
}

/* ---------GOOGLE MAP----------*/

#google-container {
  position: relative;
  width: 50%;
  height: 200px;
  background-color: #e7eaf0;
}


#google-map {
  position: relative;
}

#zoom-in, #zoom-out {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  transition:all 0.25s ease;
}

#zoom-in {
  background-image: url("../img/plus.png");
}
#zoom-out {
  background-image: url("../img/minus.png");
}

#zoom-in:hover, #zoom-out:hover {
  opacity: 1;
}

#zoom-in {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
#google-container {
    height: 300px;

} 

 #zoom-in {
    margin-top: 50px;
  }
  #zoom-in, #zoom-out {
    margin-left: 50px;
  }   
}

@media only screen and (max-width: 768px) {
  #google-container {
    /* height: 300px; */
	display: none;
  }
}


/* -------------------------contacts---------------------------*/

.place {
	position: relative;
	overflow: hidden;
}

.contacts {
	background: rgba(61,61,61,0.8);
	width: 50%;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}
	
.social {
	display: inline-block;
	margin: 0 1em;
}

.social p {
	color: #ffffff;
	font-size: 1.3em;
	text-align:left;
}

.social ul {
	margin-top: 5px;
}

.social ul li{
	float: left;
	display: block;
	padding-right: 8px;
	margin-bottom: 0;
}

.social ul li  p#contakty  {
	color: #ffffff !important;
	font-size: 1.2em !important;
	padding: 0 1em !important;
	text-align:left !important;
}

div.address {
	display: inline-block;
	margin-left: 5%;
}

div.address p {
	padding-left:15px;
	font-size: .8em;
	color: #36b6dd;
}


div.address p a {
	padding-top: 5px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    height: 15px;
	margin-left: 20px;
}

.sprite-home {
    background-position: -5px -5px;
}

.sprite-mail {
    background-position: -5px -28px;
}

.sprite-phone {
    background-position: -5px -47px;
}

 
#cForm2{
float: left;
}

input#posName, input#posEmail   {
	/*-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	 border-radius: 14px; */
	/* border: 1px solid #d2ac67; */
	border: none;
	margin: 5px 0;
	font-size: .8em;
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	height: 2 em;
	background-color: rgba(61, 61, 61, 0.2);	
	padding: 5px;
}

textarea#posText  {
/* 	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; */
	/* border: 1px solid #d2ac67; */
	border: none;
	font-size: .8em;
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	height: 2 em;
	background-color: rgba(61, 61, 61, 0.2);
	padding: 5px;
	height: 110px;
	width: 100%;	
}

input#send {
	cursor: pointer;
	display: inline-block;
	background-color: rgba(61, 61, 61, 0.2);	
	color: #d2ac67;
	text-decoration: none;
	padding: .2em 1.0em;
	border: 1px solid #d2ac67;
	border-radius: 0;	
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
	margin: 5px 0;
	float: right;
	font-size: .8em;					
	}	

#loadBar {
	width: 70%;
	float: left;
	border-radius: 14px;	
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
}	
/* _________________________ */

.image-map {
	display: none;
}

.allrights {
	padding: 3px;
	display: inline;	
}

 .allrights ul{
	border-top: 1px solid rgba(255, 255, 255, 0.18);
} 

.allrights ul li {
	float: left;
	display: inline-block;
	margin-top: 5px;
}

.allrights ul li:nth-child(2) {
	float: right;
	padding-right: 5%;
}

.allrights p {
	color: #ffffff;
}

.allrights a {
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
}

#inline { display: none; width: 600px; }

label {
	margin-right: 12px;
	margin-bottom: 9px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 1.2em;
}

.txt { 
display: block; 
color: #676767;
width: 600px; 
font-family: 'PT Sans', sans-serif;
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1.2em;
line-height: 1.4em;
}

.txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: 'PT Sans', sans-serif;
margin-bottom: 10px; 
width: 500px; 
height: 150px;
border: 1px dotted #ccc;
padding: 5px 9px; 
font-size: 1.2em;
line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

input#posEmail, input#posName, textarea#posText {
    border-left: 1px solid #d2ac67;
    border-bottom: 1px solid #d2ac67;	
}

#send { 
color: #334662;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 1.2em;
border: solid 1px #224983;
border-radius: 5px;
}

#send:active {
color: #8c9dc0; 
}

.callme {
	display: none;
	border: 1px solid #d2ac67;
    border-radius: 0;
	height: 3em;
	margin: 2em 5px; 
	cursor: pointer;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3d+0,707070+100 */
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top,  #3d3d3d 0%, #707070 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3d3d3d 0%,#707070 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3d3d3d 0%,#707070 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
	
}

.callme a {
	text-decoration: none;
}

.callme p {
	font-size: 1.2em;
	color: #d2ac67;
	text-align: center !important;
	line-height: 2.5em;}


	<!-- tab nav styling -->
	
.tabs ul{
margin:0px;
padding:0px;
}
.tabs ul:after{
	content:"";
	display:block;
	clear:both;
	height:5px;
	background:#46c765;
}
.tabs ul li{
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background:#e9eaeb;
	color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background:#46c765;
	color:#fff;
}
.tabs ul li:hover{
	background:#d6d6d7;
}
		
	
	
	
/* -----------------------------------MEDIA QUIRIES------------------------------------------- */



@media only screen and (min-width: 1920px){
	
.items-wrap	{
	 padding-top: 10%;
}	 

}

@media only screen and (max-width: 1919px){
	
.items-wrap	{
	 padding-top: 5%;
}	 

}

@media only screen and (max-width: 1400px){
	
.items-wrap	{
	 padding-top: 10%;
}	 

}


@media only screen and (max-width: 992px) {

.zagolovok, .uslugi ul, .zamena__content, .zagorod__intro, .otdelka__content, .zagorod__otdel p, .business-bottom  p, .zagorod__bottom p, .article__content, .cleaning__intro, .cleaning__bottom, .tonirovka__intro, .tonirovka__vibor__content , .akcii-content{
	padding: 10px 10%;
}

.business__text, .cleaning__text, .tonirovka__text  {
	padding: 0 10%;
}

.contacts {
	width: 60%;
}

}/* @media only screen and (max-width: 992px) */

@media only screen and (max-width: 799px){


.intro_text p {
    line-height: 1em;
    font-family: 'PT Sans Caption',sans-serif;
    font-size: 1.2em;
}

}

@media only screen and (max-width: 768px) {

.zagolovok, .uslugi ul, .zagorod__intro, .otdelka__content, .zagorod__otdel p, .business-bottom  p, .zagorod__bottom p, .article__content, .cleaning__intro, .cleaning__bottom {
	padding: 0 10% 0 5%;
}

.tonirovka__intro, .tonirovka__vibor__content {
	padding: 0 0 0 10px;
}

.zamena__content, .akcii-content {
    padding: 10px 10% 10px 5%;
}

.business__text, .cleaning__text  {
	padding: 0 5%;
}
	
.contacts, #cForm2, input#send  {
	position: relative;
}
.contacts {
	width: 90%;
	border-top: 1px solid white;
    padding-top: 5px;	
	padding-left: 10%;
}

.smotret {
    padding: .8em 0.1em;
}

.otdelka_wrapper {
	display: block;
}

.tonirovka__vibor ul li {
    padding: 20px 10px 20px 0;
}

div.address {
     margin-left: 0;
}

textarea#posText {
    width: 80%;
}

.image-map {
/* 	display: flex;
	flex: 1 1 320px; */
	display: block;
	height: 200px;
	background: #fff url('../img/map.png') 0 0 no-repeat;
	background-size: cover;
}


}/* @media only screen and (max-width: 768px) */

@media all and (max-width: 620px) {
	
.header__elements {
	display: block;
	overflow: hidden;
}

.menu_button {
	float: right;
}

.logo {
	padding-left: 20px;
} 

.tel{
	padding-left: 40px;
} 

.menu_button span {
	display: none;
}

.intro_text {
	margin-top: 25%;	
}

.tel {
    font-size: 14px;
	float: left;
	margin-left: 0;
    margin-bottom: 3px;
}

.menu2 {
	display: inline;
	float: right;
	margin-right: 1em;
	margin-top: -20px
}

}/* media all and (max-width: 620px) */

@media only screen and (max-width: 600px) {

h3 {
	font-size: 1em;
	width: 100%;
}

.intro__arrow img {
    margin: 10px auto;
}
	
.business__text, .cleaning__text, .tonirovka__text, .zagorod__text, .article__text  {
	columns: 1;
}
.zagolovok {
	width: 80%; 
}

.zagolovok span {
    font-size: 1em;
}

li, .otdelka__intro, .zagorod__intro, .zamena__intro {
    margin-bottom: 0;
}

.article__text img, .business__text img, .zagorod__text img {
    margin-top: 0;
}

.business-bottom, .zagorod__otdel {
	padding: 0;
}

.heading {
	margin: 0;
}

.zagorod__intro img, .zamena__intro img {
	display: inline;
	margin-left: 3px;
}

.zamena__text  {
	display: block;
}

.gallery2:after {
	clear:both;
}

.gallery2 ul  li{
	display: inline;
	float: left;
	margin-left: 3px;
}

.cleaning__intro {
    width: 80%;
}
.cleaning__bottom {
	padding-bottom: 5px;
}

.cleaning__bottom p {
    font-size: 1em;
}

.block {
	margin: 1%;
    padding: .4em 1em;
}

.otdelka__vibor ul li {
    padding-left: 0;
}

.tonirovka__text p {
	margin-bottom: 10px;
}

.contacts {
	padding-left: 0;
	width: 100%;
}

ul {-webkit-padding-start:  15px;} 


.first-column {
    -webkit-column-break-after: auto;
    page-break-after: auto;
    break-after: auto;
}

.second-column {
    -webkit-column-break-after: avoid;
    page-break-after: avoid;
    break-after: avoid;	
}

}/* @media only screen and (max-width: 600px) */

@media only screen and (max-width: 375px) {

p, li {
	font-size: 10px;
}

.item__title {
	height: 15px;
}

.item__title p {
	font-size: 11px;
}

h1, h2 {
	margin: 0.1em 10px;
	font-size: 1em;
}

.body_content p, .intro_text p {
    padding: 0 5%;
}

.business__text, .cleaning__text, .tonirovka__text  {
	padding: 0 10px;
}


h1, h2, h3 {
    margin: 0;
}

h3 {
	font-size: .8em;
}

.intro_text {
	margin-top: 35%;	
}

.intro_text p {
    line-height: 1.1em;
    font-family: 'PT Sans Caption',sans-serif;
    font-size: 0.8em;
}
	
.tonirovka__vibor__content ul {
	margin: 0;
}
	
.zagolovok span {
    font-size: 1em;
}

div.address p {
	font-size: .6em;
}

 .gallery2 {
	width: 300px;
	float: left;
}


.smotret {
   margin: 1%;
   padding: .4em 1em;
}

.zamena__important {
	margin-left: 10px;
}

.zamena__lists p {
    font-size: 1em;
}

.zamena__lists span {
    font-size: 1.8em;
}

.otdelka__intro ul li {
    display: block;
    padding-left: 2em;
}

ul, ol {-webkit-padding-start:  10px;} 

.artmenu-wrapper {
	margin: 0;
}

.items-wrap {
    padding-top: 25%;
}

.item {
   padding: 5px 0;
}

.callme {
	display: block;
}

}/* @media only screen and (max-width: 375px) */

@media only screen and (max-width: 320px) {

.zagolovok, .uslugi ul, .zagorod__intro, .otdelka__content, .zagorod__otdel p, .business-bottom  p, .zagorod__bottom p, .article__content, .cleaning__intro, .cleaning__bottom, .tonirovka__intro 
{
	padding: 0 10% 0 2%;
}

.zamena__lists {
	padding: 0 4%;
}

 .zamena__content, .akcii-content {
	padding: 0 20px 0 0; 
 } 
	
}/* @media only screen and (max-width: 320px) */